body {
  font-family: arial, sans-serif;
}

h1 {
  color: pink;
  font-size: 24px;
  font-weight: 100;
  line-height: 48px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: rgb(112, 117, 122);
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-transform: capitalize;

  height: 20px;
  line-height: 20px;
  list-style: none;
}
.wrapper-border {
  padding: 20px;
  border: 1px solid pink;
  border-radius: 5px;
}
.wrapper {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}

.main-city-date {
  margin-bottom: 20px;
}

.main-image-temp img {
  margin-right: 10px;
}

.main-image-temp {
  font-size: 45px;
  line-height: 1;
}
#units {
  font-size: 15px;
  position: relative;
  top: -20px;
  left: -5px;
}
a {
  text-decoration: none;
}
